@font-face {
  font-family: 'regular';
  src: url('../fonts/Alegreyasans.woff2') format('woff2'),
  url('../fonts/Alegreyasans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('../fonts/Alegreyasansbold.woff2') format('woff2'),
  url('../fonts/Alegreyasansbold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'extrabold';
  src: url('../fonts/Alegreyasansextrabold.woff2') format('woff2'),
  url('../fonts/Alegreyasansextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../fonts/Alegreyasansmedium.woff2') format('woff2'),
  url('../fonts/Alegreyasansmedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Regular';
  src: url('../fonts/Quicksand Regular.woff2') format('woff2'),
  url('../fonts/Quicksand Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'juliussansone-regular-webfont';
  src: url('../fonts/juliussansone-regular-webfont.woff2') format('woff2'),
  url('../fonts/juliussansone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gildadisplay-regular-webfont';
  src: url('../fonts/gildadisplay-regular-webfont.woff2') format('woff2'),
  url('../fonts/gildadisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}