body {
  position: relative;
  font-family: medium, Arial, sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.container {
  width: 1630px;
  margin: 0 auto;
}
