body {
  position: relative;
  font-family: medium, Arial, sans-serif;
  font-size: 18px;
  min-width: 320px;
  @media (min-width: 1600px) {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-family: extrabold, Arial, sans-serif;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  @media (min-width: 1640px) {
    font-size: 72px;
    line-height: 72px;
  }
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 1630px;
  padding: 0 20px;
}
