.about {
  background: $bg-color url("../img/svg/rocket.svg") no-repeat;
  background-size: cover;
  padding: 0;
  padding-top: 165px;
  padding-bottom: 325px;
  color: #eaeaf5;
  width: 100%;

  &__wrap {
    max-width: 1068px;
  }

  &__title {
    font-family: extrabold, Arial, sans-serif;
    font-size: 60px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  &__text {
    font-size: 36px;
    font-family: regular, Arial, sans-serif;
    margin-bottom: 60px;
  }
  
  &__but {
    width: 290px;
    height: 79px;
    background-color: #d24b43;
    border: none;
    cursor: pointer;
    color: #eaeaf5;
    font-family: bold, Arial, sans-serif;
  }
}