.advantages {
  background-color: #d6d6f2;
  padding-top: 155px;
  margin-top: -1px;
  padding-bottom: 100px;
  color: #1f1f79;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 215px;
  }

  &__title {
    font-family: extrabold, Arial, sans-serif;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      line-height: 36px;
      width: 287px;
    }
  }

  &__item-title {
    font-family: bold, Arial, sans-serif;
    font-size: 48px;
    margin-top: 168px;
    margin-bottom: 0;
    transition: margin-top .7s;
    cursor: pointer;
  }

  &__item-title--active {
    margin-top: 80px;
    transition: margin-top .7s;
  }

  &__hidden {
    opacity: 0;
    transition: opacity .7s;
  }

  &__text {
    opacity: 1;
    transition: opacity .7s;
  }
}