.header {
  background-color: $bg-color;
  padding-top: 20px;

  &__menu-desktop {
    display: none;
    @media (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    @media (min-width: 1250px) {
      flex-wrap: nowrap;
    }
  }

  &__nav {
    a {
      color: #d9d9ec;
      text-transform: uppercase;
      font-family: bold, Arial, sans-serif;
      margin-right: 10px;
    }
    a:last-child {
      margin-right: 0;
    }
  }

  &__entry {
    display: block;
    max-width: 58px;
    background-color: $bg-color;
    border: 3px solid #d24b43;
    color: #d24b43;
    text-transform: uppercase;
    font-family: bold, Arial, sans-serif;
    padding: 18px 33px;
    text-align: center;
    @media (min-width: 1099px) {
      margin-left: 90%;
    }
    @media (min-width: 1250px) {
      margin-left: 0;
    }
  }

  &__link--active {
    position: relative;
  }

  &__link--active:before {
    position: absolute;
    content: '';
    width: 34px;
    height: 1px;
    background-color: #d24b43;
    top: 30px;
    left: 0;
  }

  &__menu-mob {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #36CBD4;
      list-style-type: none;
      text-align: center;
      a {
        display: block;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        padding: 15px 0;
        transition-property: background-color;
        transition-duration: .5s;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &__logo-mob {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 200px;
      @media (min-width: 400px) {
        width: 277px;
      }
    }
  }

  &__wrap-mob {
    max-width: 900px;
    @media (min-width: 900px) {
      display: none;
    }
  }
}

.hambergerIcon{
  height: 4px;
  width:30px;
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: 50px;
  background-color: white;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all ease 0.5s;

  &::before,&::after{
    content:"";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
  }

  &::before{
    top: -10px;
    left: 0;
    transform-origin: left;
  }

  &::after{
    bottom:-10px;
    right: 0;
    transform-origin: right;
  }
}

.open{
  transform:translate(-50%,-50%) rotate(135deg);

  &::before{
    top:0;
    transform: translateX(100%) rotate(-90deg);
  }

  &::after{
    bottom:0;
    transform: translateX(-100%) rotate(-90deg);
  }
}

.menu{
  height:30px;
  width:30px;
  transform: translate(-50%,-50%);
  cursor: pointer;
}
