.social-link {
  display: flex;
  justify-content: space-between;
  max-width: 213px;
  a {
    margin-right: 15px;
    img {
      max-width: 42px;
      max-height: 42px;
    }
  }
  a:last-child {
    margin-right: 0;
  }
}