.teachers {
  background-color: #d6d6f2;
  padding-top: 72px;
  padding-bottom: 277px;
  @media (min-width: 1640px) {
    padding-bottom: 377px;
  }

  h2 {
    font-family: extrabold, Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #1f1f79;
    margin-bottom: 66px;
    @media (min-width: 1640px) {
      margin-bottom: 86px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: #1f1f79;
    padding: 36px 20px;
    border-radius: 5px;
    color: #d6d6f2;
    text-align: center;
    max-width: 310px;
    @media (min-width: 1640px) {
      padding: 55px 30px;
      max-width: 510px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 30px;
    }

    p {
      font-family: regular, Arial, sans-serif;
      font-size: 18px;
      margin-bottom: 58px;
    }
  }

  &__circle {
    width: 216px;
    height: 216px;
    border-radius: 50%;
    border: none;
    background-color: #d6d6f2;
    margin: 0 auto 55px;
    @media (min-width: 1640px) {
      width: 316px;
      height: 316px;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;

    a {
      margin-right: 30px;
    }

    img {
      width: 32px;
      @media (min-width: 1640px) {
        width: 60px;
      }
    }

    a:last-child {
      margin-right: 0;
    }
  }
}

.teachers__slider .slick-dots {
  position: absolute;
  bottom: -110px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}